<div class="progressBar" ng-repeat="progressBar in progressBars | orderBy:'chauffeur'" layout-padding layout-align="center center">
  <h4 ng-style="{color:progressBar.color}">{{progressBar.chauffeur}}</h4>
    <v-accordion class="vAccordion--default">
    <v-pane ng-hide="progressBar.livTot == 0">
      <v-pane-header>
        <p>Livraisons {{progressBar.liv}} / {{progressBar.livTot}}</p>
        <md-progress-linear class="liv" md-mode="determinate" value="{{progressBar.livPercent}}"></md-progress-linear>
      </v-pane-header>
      <v-pane-content>
        <div class="progressBar_positions_container" layout="column" layout-align="center center">
            <p ng-repeat="p in progressBar.positionsLivraisons">
              {{p.codeano}} {{p.num}} {{p.datesuivi}}
            </p>
        </div>
      </v-pane-content>
    </v-pane>
    <v-pane ng-hide="progressBar.ramTot == 0">
      <v-pane-header>
        <p>Ramasses {{progressBar.ram}} / {{progressBar.ramTot}}</p>
        <md-progress-linear class="ram" md-mode="determinate" value="{{progressBar.ramPercent}}"></md-progress-linear>
      </v-pane-header>
      <v-pane-content>
        <div class="progressBar_positions_container" layout="column" layout-align="center center">
            <p ng-repeat="p in progressBar.positionsRamasses">
              {{p.codeano}} {{p.num}} {{p.datesuivi}}
            </p>
        </div>
      </v-pane-content>
    </v-pane>
  </v-accordion>
</div>
