<ui-gmap-google-map center='map.center'  control='map.control' zoom='map.zoom' events="map.events" pan='true' refresh="true">
  <ui-gmap-markers
    models="markerLastPos"
    coords="'coords'"
    icon="'options.icon'"
    options="'options'"
    fit='true'>
  </ui-gmap-markers>
  <ui-gmap-markers models="markers" coords="'coords'" options="'options'" icon="'options.icon'" events="'events'" type="cluster" doCluster="true" typeOptions="clusterOptions" fit='true'>
    <ui-gmap-windows show="show" isIconVisibleOnClick="true" templateUrl="'app/containers/infowindowTemplate.html'" templateParameter="infowindowOptions.param" options="infowindowOptions.options">
      <div>
          Todo infoview
      </div>
    </ui-gmap-windows>
  </ui-gmap-markers>
  <!-- <ui-gmap-markers models="markersRam" coords="'coords'" options="'options'" icon="'options.icon'" type="cluster" doCluster="true" clusterOptions="clusterOptions" click="markersClick(idClick)"></ui-gmap-markers>
  <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline> --> -->
</ui-gmap-google-map>
