<ui-gmap-google-map center='map.center'  control='map.control' zoom='map.zoom' events="map.events" pan='true' refresh="true">
  <ui-gmap-layer type="TrafficLayer" show="Trafficshow"></ui-gmap-layer>
  <ui-gmap-markers
    models="markerLastPos"
    coords="'coords'"
    icon="'options.icon'"
    options="'options'"
    fit='true'>
  </ui-gmap-markers>
  <ui-gmap-markers models="markers" coords="'coords'" options="'options'" icon="'options.icon'" events="'events'" type="cluster" doCluster="true" typeOptions="clusterOptions" fit='true'>
    <ui-gmap-windows show="show" isIconVisibleOnClick="true" templateUrl="'app/containers/infowindowTemplate.html'" templateParameter="infowindowOptions.param" options="infowindowOptions.options">
      <div>
          Todo infoview
      </div>
    </ui-gmap-windows>
  </ui-gmap-markers>
  <ui-gmap-markers models="attentes" coords="'coords'" events="'events'" type="cluster" doCluster="true" typeOptions="clusterOptions" fit='true'>
  </ui-gmap-markers>
  <ui-gmap-polyline
        ng-repeat="p in Trajets"
        path="p.path"
        stroke="p.stroke"
        clickable="true"
        draggable="false"
        editable="false"
        geodesic="true"
        icons="p.icons"
        visible="true"
        fit="true"
        events="p.events" >
        <ui-gmap-window coords="" options="windowOptions" closeClick="closeClick()">
                <div>{{title}}</div>
        </ui-gmap-window>
</ui-gmap-polyline>
</ui-gmap-google-map>
