<div class="messagetoolbar" ng-class="messagetoolbarActive ? '-active' : '-disabled'" layout>
  <div class="messagetoolbar_new">
    <md-button class="md-icon-button" aria-label="New" ng-click="newMessage = !newMessage">
      <md-icon md-svg-icon="images/ico/ico_newmessage.svg"></md-icon>
    </md-button>
  </div>
  <div class="messagetoolbar_newmessage" layout ng-class="newMessage ? '-active' : '-disabled'">
    <md-input-container class="messagetoolbar_newmessage_select_chauffeurs" flex="20">
      <label>Chauffeurs</label>
      <md-select ng-model="selectedChauffeurs" md-on-close="clearSearchTerm()" data-md-container-class="selectHeader" multiple>
        <md-select-header class="select-header">
          <input ng-model="searchTerm" type="search" placeholder="Choisissez de(s) chauffeur(s)" class="header-searchbox md-text">
        </md-select-header>
        <md-optgroup label="chauffeur">
          <md-option ng-value="chauffeur" ng-repeat="chauffeur in chauffeurs | filter:searchTerm">{{chauffeur.SALNOM}}</md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
    <div class="messagetoolbar_buttun_cancel">
      <md-button class="md-icon-button md-accent" aria-label="Cancel" ng-show="selectedChauffeurs.length > 0" ng-click="cancelSelected()">
        <md-icon md-svg-icon="images/ico/ico_cancel.svg"></md-icon>
      </md-button>
    </div>
    <md-input-container class="messagetoolbar_newmessage_input md-block" flex>
      <label>Message</label>
      <input required name="message" ng-model="Textmessage" ng-focus="true">
    </md-input-container>
    <div class="messagetoolbar_newmessage_sendbutton">
      <md-button class="md-icon-button" aria-label="Send" ng-click="sendMessage(selectedChauffeurs, Textmessage)">
        <md-icon md-svg-icon="images/ico/ico_send.svg"></md-icon>
      </md-button>
    </div>
  </div>
  <div class="messagetoolbar_archive" ng-click="modalArchive = !modalArchive;loadMessagesArchive()">
    <md-button class="md-icon-button" aria-label="Archive">
      <md-icon md-svg-icon="images/ico/ico_archive.svg"></md-icon>
    </md-button>
  </div>
  <md-button class="messagetoolbar_inputmessage_sendbutton md-secondary md-icon-button" ng-class="messagetoolbarInputmessageActive ? '-active' : '-disabled'" aria-label="Send">
    <md-icon md-svg-icon="images/ico/ico_send.svg"></md-icon>
  </md-button>
  <md-list-item class="md-2-line item" ng-repeat="m in messageNonlu | orderBy:'id' | limitTo:1 | filter:{isLu:false}">
    <div class="messagetoolbar_messagecontent md-list-item-text" ng-class="messagetoolbarInputmessageActive ? '-disabled' : '-active'" layout="column">
      <p>{{m.text}}</p>
      <p>{{m.chauffeur}}
        {{m.datereception}}</p>
    </div>
    <md-input-container class="messagetoolbar_inputmessage md-block" ng-class="messagetoolbarInputmessageActive ? '-active' : '-disabled'">
      <label>Message</label>
      <input required name="forminput[m.id]" ng-model="forminput[m.id]">
      <div ng-messages="forminput[m.id].$error">
        <div ng-message="required">Champ obligatoire.</div>
      </div>
    </md-input-container>
    <md-button
      ng-show="forminput[m.id] != undefined"
      class="messagetoolbar_inputmessage_sendbutton md-secondary md-icon-button"
      ng-click="sendMessageReply(m.chauffeur, forminput[m.id]);messagetoolbarInputmessageActive = !messagetoolbarInputmessageActive"
      ng-class="messagetoolbarInputmessageActive ? '-active' : '-disabled'"
      aria-label="SendReply">
      <md-icon md-svg-icon="images/ico/ico_send.svg"></md-icon>
    </md-button>
    <md-button class="md-secondary md-icon-button" ng-click="messagetoolbarInputmessageActive = !messagetoolbarInputmessageActive" aria-label="Reply">
      <md-icon md-svg-icon="images/ico/ico_reply.svg"></md-icon>
    </md-button>
    <md-button class="md-secondary md-icon-button" aria-label="lu" ng-click="markAsRead(m.id)">
      <md-icon md-svg-icon="images/ico/ico_checked.svg"></md-icon>
    </md-button>
  </md-list-item>
  <p flex class="noMSg" ng-hide="messageNonlu.length > 0">Pas de nouveau message</p>
</div>
<md-button class="fab_message md-fab md-primary" aria-label="Message" ng-click="messagetoolbarActive = !messagetoolbarActive" ng-class="messagetoolbarActive ? '-active' : '-disabled'">
  <md-icon md-svg-src="images/ico/ico_message.svg"></md-icon>
  <span ng-show="messageNonlu.length > 0">{{messageNonlu.length}}</span>
</md-button>
<div class="modalarchive_container" ng-class="modalArchive ? '-active' : '-disabled'">
  <md-button class="md-icon-button modalarchive_close" aria-label="New" ng-click="modalArchive = !modalArchive">
    <md-icon md-svg-icon="images/ico/ico_close.svg"></md-icon>
  </md-button>
  <div class="modalarchive_content_container">
    <md-tabs md-dynamic-height md-center-tabs>
      <md-tab label="Reçus">
        <div class="archive_toolbar" layout layout-align="center center">
          <md-input-container class="archive_toolbar_select_chauffeurs" flex="none">
            <label>Chauffeur</label>
            <md-select ng-model="selectedChauffeursRecu" md-on-close="clearSearchTerm()" data-md-container-class="selectHeader">
              <md-select-header class="select-header">
                <input ng-model="searchTerm" type="search" placeholder="Choisissez le chauffeur" class="header-searchbox md-text">
              </md-select-header>
              <md-optgroup label="chauffeur">
                <md-option>
                  <em>Tous</em>
                </md-option>
                <md-option ng-value="chauffeur" ng-repeat="chauffeur in chauffeurs |
                  filter:searchTerm">{{chauffeur.SALNOM}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
        <md-list class="md-dense" flex cg-busy="{promise:messageArchiveEmisPromise,message:Chargement,template: require('./loading.html')}">
          <md-list-item class="modalarchive_archiveMessage" ng-repeat="m in messageArchiveRecu">
            <div class="md-list-item-text">
              <h3>{{m.chauffeur}}
                {{m.datereception}}</h3>
              <p>{{m.text}}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-tab>
      <md-tab label="Emis">
        <div class="archive_toolbar" layout layout-align="space-around center">
          <md-input-container class="archive_toolbar_select_chauffeurs" flex="none">
            <label>Chauffeur</label>
            <md-select ng-model="selectedChauffeursEmis" md-on-close="clearSearchTerm()" data-md-container-class="selectHeader">
              <md-select-header class="select-header">
                <input ng-model="searchTerm" type="search" placeholder="Choisissez le chauffeur" class="header-searchbox md-text">
              </md-select-header>
              <md-optgroup label="chauffeur">
                <md-option>
                  <em>Tous</em>
                </md-option>
                <md-option ng-value="chauffeur" ng-repeat="chauffeur in chauffeurs |
                  filter:searchTerm">{{chauffeur.SALNOM}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
          <md-switch class="switch_auto" ng-model="switch_nonlu" aria-label="Switch auto non lu" ng-change="filterNonlu(switch_nonlu)">
            <span ng-hide="switch_reloadAuto">Uniquement Non lu</span>
          </md-switch>
        </div>
        <md-list class="md-dense" flex cg-busy="{promise:messageArchivePromise,message:Chargement,template: require('./loading.html')}">
          <md-list-item class="modalarchive_archiveMessage" ng-repeat="m in messageArchiveEmis">
            <div class="md-list-item-text">
              <h3>{{m.chauffeur}}
                {{m.datereception}}</h3>
              <p>{{m.text}}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-tab>
    </md-tabs>
  </div>
</div>
