<md-input-container>
  <label>Chauffeurs</label>
  <md-select ng-model="selectedChauffeur" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
    <md-select-header class="demo-select-header">
      <input ng-model="searchTerm" type="search" placeholder="Chercher un chauffeur" class="demo-header-searchbox _md-text">
    </md-select-header>
    <md-optgroup label="Chauffeurs">
      <md-option ng-value="chauffeur" ng-repeat="chauffeur in chauffeurs |
    filter:searchTerm">{{chauffeur.SALNOM}}</md-option>
    </md-optgroup>
  </md-select>
</md-input-container>
