<md-menu>
  <md-button aria-label="Open menu" class="md-icon-button main" ng-click="openMenu($mdOpenMenu, $event)">
    <md-icon md-svg-icon="images/ico/ico_dms.svg"></md-icon>
  </md-button>
  <md-menu-content width="4">
    <md-menu-item>
      <p>
        DMSCARTO© v1.1.0
      </p>
    </md-menu-item>
    <md-menu-divider></md-menu-divider>
    <md-menu-item>
      <md-button ng-disabled="true">
        <md-icon md-svg-icon="images/ico/idea.svg" md-menu-align-target></md-icon>
        Une suggestion ? (soon)
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="reportDialog()">
        <md-icon md-svg-icon="images/ico/bug.svg" md-menu-align-target></md-icon>
        Signaler un bug
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
<md-input-container class="toolbar_select_chauffeurs" flex="none">
  <label>Chauffeurs</label>
  <md-select ng-model="selectedChauffeurs" md-on-close="clearSearchTerm()" data-md-container-class="selectHeader" multiple>
    <md-select-header class="select-header">
      <input ng-model="searchTerm" type="search" placeholder="Choisissez de(s) chauffeur(s)" class="header-searchbox md-text">
    </md-select-header>
    <md-optgroup label="chauffeur">
      <md-option ng-value="chauffeur" ng-repeat="chauffeur in chauffeurs |
        filter:searchTerm">{{chauffeur.SALNOM}}</md-option>
    </md-optgroup>
  </md-select>
</md-input-container>
<md-button class="toolbar_button_cancelSelect md-icon-button md-accent" aria-label="Cancel" ng-click="allSelected()">
  <md-icon md-svg-icon="images/ico/ico_list.svg"></md-icon>
</md-button>
<md-button class="toolbar_button_cancelSelect md-icon-button md-accent" aria-label="Cancel" ng-show="selectedChauffeurs.length > 0" ng-click="cancelSelected()">
  <md-icon md-svg-icon="images/ico/ico_cancel.svg"></md-icon>
</md-button>
<div class="toolbar_checkbox" layout="column" layout-gt-sm="row" layout-align="none" flex="none">
  <div>
    <div class="toolbar_checkbox_livraisons">
      <md-checkbox class="md-primary" ng-model="cbLivraison" aria-label="Livraisons" ng-change="getPositions(selectedChauffeurs,cbLivraison,dateCalendar,'liv')" ng-disabled="!(selectedChauffeurs.length > 0) || selectedChauffeurs.length > 3">
        Livraisons
      </md-checkbox>
    </div>
    <div class="toolbar_checkbox_ramasses" flex>
      <md-checkbox class="md-primary" ng-model="cbRamasses" aria-label="Ramasses" ng-change="getPositions(selectedChauffeurs,cbRamasses,dateCalendar, 'ram')" ng-disabled="!(selectedChauffeurs.length > 0) || selectedChauffeurs.length > 3">
        Ramasses
      </md-checkbox>
    </div>
    <div class="toolbar_checkbox_predict" flex>
      <md-checkbox class="md-primary" ng-model="cbPredict" aria-label="Prédictions" ng-disabled="!(selectedChauffeurs.length > 0) || selectedChauffeurs.length > 3" ng-change="getPredicts(selectedChauffeurs,cbPredict)">
        Prédictions
      </md-checkbox>
    </div>
  </div>
  <div>
    <div class="toolbar_checkbox_trajet" flex>
      <md-checkbox class="md-primary" ng-model="cbTrajet" aria-label="Trajet" ng-change="getTrajets(selectedChauffeurs,cbTrajet,dateCalendar)" ng-disabled="!(selectedChauffeurs.length > 0) || selectedChauffeurs.length > 3">
        Trajets
      </md-checkbox>
    </div>
    <div class="toolbar_checkbox_attentes" flex>
      <md-checkbox class="md-primary" ng-model="cbAttentes" aria-label="Attentes" ng-change="getAttentes(selectedChauffeurs,cbAttentes,dateCalendar)" ng-disabled="!(selectedChauffeurs.length > 0) || selectedChauffeurs.length > 3">
        Attentes
      </md-checkbox>
    </div>
    <div class="toolbar_checkbox_chauffeurs" flex>
      <md-checkbox class="md-primary" ng-model="cbChauffeurs" aria-label="Chauffeurs" ng-change="getGpsChauffeurs(cbChauffeurs)">
        Autres chauffeurs
      </md-checkbox>
    </div>
  </div>
</div>
<md-datepicker flex="20" ng-model="dateCalendar" md-placeholder="Enter date"></md-datepicker>
<div flex class="toolbar_button" layout="column" layout-gt-lg="row" layout-align="center center">
  <div>
    <md-button class="md-icon-button md-raised" ng-disabled="selectedChauffeurs == null" aria-label="recadre" ng-click="fitBounds()">
      <md-icon md-svg-icon="images/ico/ico_fullscreen.svg"></md-icon>
      <md-tooltip md-direction="bottom">
        Recentrer la carte
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button md-raised" ng-disabled="selectedChauffeurs == null" aria-label="refresh" ng-click="refresh()">
      <md-icon md-svg-icon="images/ico/ico_refresh.svg"></md-icon>
      <md-tooltip md-direction="bottom">
        Recharger la carte
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button md-raised toolbar_button_sound" aria-label="sound" ng-click="muteSound()">
      <img ng-src="{{urlSound}}" alt="Bookmark">
      <md-tooltip md-direction="bottom">
        Désactiver le son
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button md-raised md-warn" ng-href="https://wiki.dealtis.fr/index.php/DMS_Cartographie" target="_blank">
      <md-icon md-svg-icon="images/ico/info.svg"></md-icon>
      <md-tooltip md-direction="bottom">
        Aide
      </md-tooltip>
    </md-button>
  </div>
  <div flex layout="column" layout-align="center center" class="toolbar_switch">
    <md-switch class="switch_auto" ng-model="switch_reloadAuto" aria-label="Switch auto 1" ng-change="reloadAuto(switch_reloadAuto)">
      <span ng-hide="switch_reloadAuto">Rafraîchissement auto</span>
      <md-progress-linear ng-show="switch_reloadAuto" class="progress_reload" md-mode="determinate" value="{{progressReload}}"></md-progress-linear>
    </md-switch>
  </div>
  <md-input-container ng-show="adminMode">
    <label>Cookie ID</label>
    <md-select ng-model="societeId" ng-change="setCookie(societeId);">
      <md-option ng-repeat="item in cookiesSoc" ng-value="item.socId">
        {{item.socName}}
      </md-option>
    </md-select>
  </md-input-container>
</div>
<div class="modalaide_container" ng-class="modalaide ? '-active' : '-disabled'">
  <md-button class="md-icon-button modalaide_close" aria-label="New" ng-click="modalaide = !modalaide">
    <md-icon md-svg-icon="images/ico/ico_close.svg"></md-icon>
  </md-button>
  <div class="modalaide_content_container" layout="row"></div>
</div>
