<md-input-container class="toolbar_select_chauffeurs" flex="10">
  <label>Chauffeurs</label>
  <md-select ng-model="selectedChauffeurs"
             md-on-close="clearSearchTerm()"
             data-md-container-class="selectHeader"
             multiple>
    <md-select-header class="select-header">
      <input ng-model="searchTerm"
             type="search"
             placeholder="Choisissez de(s) chauffeur(s)"
             class="header-searchbox md-text">
    </md-select-header>
    <md-optgroup label="chauffeur">
      <md-option ng-value="chauffeur" ng-repeat="chauffeur in chauffeurs |
        filter:searchTerm">{{chauffeur.SALNOM}}</md-option>
    </md-optgroup>
  </md-select>
</md-input-container>
<div class="toolbar_checkbox" layout="row"  layout-align="none" flex>
  <div flex>
    <div class="toolbar_checkbox_livraisons">
      <md-checkbox class="md-primary" ng-model="cbLivraison" aria-label="Livraisons" ng-change="getPositionsLivraisons(selectedChauffeurs,cbLivraison,dateCalendar)" ng-disabled="selectedChauffeurs == null">
        Livraisons
      </md-checkbox>
    </div>
    <div class="toolbar_checkbox_ramasses" flex>
      <md-checkbox class="md-primary" ng-model="cbRamasses" aria-label="Ramasses" ng-change="getPositionsRamasses(selectedChauffeurs,cbRamasses,dateCalendar)" ng-disabled="selectedChauffeurs == null">
        Ramasses
      </md-checkbox>
    </div>
  </div>
  <div flex>
    <div class="toolbar_checkbox_trajet" flex>
      <md-checkbox class="md-primary" ng-model="cbTrajet" aria-label="Trajet" ng-change="getTrajetLivraison(selectedChauffeurs,cbTrajet,dateCalendar)" ng-disabled="selectedChauffeurs == null">
        Trajets
      </md-checkbox>
    </div>
    <div class="toolbar_checkbox_chauffeurs" flex>
      <md-checkbox class="md-primary" ng-model="cbChauffeurs" aria-label="Chauffeurs" ng-change="getGpsChauffeurs(selectedChauffeurs,cbChauffeurs,dateCalendar)" ng-disabled="selectedChauffeurs == null">
        Autres chauffeurs
      </md-checkbox>
    </div>
  </div>
</div>
<md-datepicker flex="15" ng-model="dateCalendar" md-placeholder="Enter date"></md-datepicker>
<div flex class="toolbar_button">
  <md-button class="md-icon-button md-raised" ng-disabled="selectedChauffeurs == null" aria-label="recadre" ng-click="recadre()">
    <md-icon md-svg-icon="images/ico/ico_fullscreen.svg"></md-icon>
    <md-tooltip md-direction="bottom">
      Recentrer la carte
    </md-tooltip>
  </md-button>
  <md-button class="md-icon-button md-raised" ng-disabled="selectedChauffeurs == null" aria-label="refresh" ng-click="refresh()">
    <md-icon md-svg-icon="images/ico/ico_refresh.svg"></md-icon>
    <md-tooltip md-direction="bottom">
      Recharger la carte
    </md-tooltip>
  </md-button>
  <md-button class="md-icon-button md-raised md-warn" ng-click="showAlert($event)">
    <md-icon md-svg-icon="images/ico/info.svg"></md-icon>
    <md-tooltip md-direction="bottom">
      Aide
    </md-tooltip>
  </md-button>
</div>
<div flex class="toolbar_switch">
  <md-switch class="switch_auto" ng-model="switch_reloadAuto" aria-label="Switch auto 1" ng-disabled="selectedChauffeurs == null" ng-change="reloadAuto(selectedChauffeurs,cb1,cb2,cb3,sw1,date)">
    Rafraîchissement auto
  </md-switch>
</div>
