@import 'node_modules/angular-material/angular-material.scss';
@import 'node_modules/bourbon/app/assets/stylesheets/_bourbon.scss';

body,
html {
  height: 100%;
}

.main_wrapper {
  min-height: 100vh;
  min-width: 100vw;
}

.mapContainer {
  .angular-google-map-container {
    min-height: 90vh;
  }

  .labels {
    text-align: center;
    background: white;
    padding: 3px;
    font-family: Roboto,Arial,sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: black;
    animation: pulse 0.5s ease-out;
  }
  @keyframes pulse {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.toolbar {
  md-select {
    font-size: 12px;
  }
  // checkbox
  .md-icon {
    transform: scale(0.8);
  }
  //fix de l aria du clique
  md-checkbox .md-container:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .toolbar_checkbox {
    padding-left: 5px;

    div {
      md-checkbox {
        margin: 0;
      }
    }

    .toolbar_checkbox_chauffeurs {
      .md-label {
        font-size: 12px;
      }
    }
  }

  .toolbar_button_cancelSelect {
    opacity: 1;
    margin: 0;
    padding: 0;
    &.ng-hide {
      opacity: 0;
      width: 0px;
    }

    &.ng-hide-add,
    &.ng-hide-remove {
      transition: all ease 1s;
    }
    .check-element {
      border: 1px solid black;
      opacity: 1;
      padding: 10px;
    }
  }
}
// selectedChauffeur

.selectHeader .header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

.select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}

.selectHeader md-content._md {
  max-height: 240px;
}
// infowindows

.infobox {
  background-color: black;
}
