@import 'node_modules/angular-material/angular-material.scss';
@import 'node_modules/bourbon/app/assets/stylesheets/_bourbon.scss';
@import 'node_modules/please-wait/src/please-wait.scss';
@import 'node_modules/spinkit/scss/spinners/9-cube-grid.scss';
@import 'node_modules/v-accordion/src/vAccordion/styles/vAccordion.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}

body,
html {
  max-height: 100%;
  background: #fff;
  overflow: hidden;
}

aside {
  height: 100vh;
  overflow-x: auto;
}

.main_wrapper {
  min-height: 100vh;
  min-width: 100vw;
}

.mapContainer {
  position: initial !important;

  .angular-google-map-container {
    min-height: 90vh;
    -moz-box-shadow: 10px 10px 5px #656565;
    -webkit-box-shadow: 10px 10px 5px #656565;
    -o-box-shadow: 10px 10px 5px #656565;
    box-shadow: 10px 10px 5px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=  '#6565', Direction=135, Strength=5);
  }

  .labels {
    text-align: center;
    background: white;
    padding: 3px;
    font-family: Roboto,Arial,sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: black;
    animation: pulse 0.5s ease-out;
  }
  @keyframes pulse {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.toolbar {
  background-color: #b2dfdb;
  -moz-box-shadow: 10px 10px 5px #656565;
  -webkit-box-shadow: 10px 10px 5px #656565;
  -o-box-shadow: 10px 10px 5px #656565;
  box-shadow: 10px 10px 5px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=  '#6565', Direction=135, Strength=5);

  .main {
    padding: 0;
    width: 58px;
    height: 48px;

    md-icon {
      width: 48px;
      height: 48px;
    }
  }

  md-select {
    font-size: 12px;
  }
  // checkbox
  .md-icon {
    transform: scale(0.8);
  }
  //fix de l aria du clique
  md-checkbox .md-container:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .toolbar_checkbox {
    padding-left: 5px;

    div {
      md-checkbox {
        margin: 0;
      }
    }

    .toolbar_checkbox_chauffeurs {
      .md-label {
        font-size: 12px;
      }
    }

    .toolbar_checkbox_predict {
      md-switch {
        padding: 0;
        margin: 0;
      }
    }
  }

  .toolbar_button_cancelSelect {
    opacity: 1;
    margin: 0;
    padding: 0;

    &.ng-hide {
      opacity: 0;
      width: 0;
    }

    &.ng-hide-add,
    &.ng-hide-remove {
      transition: all ease 1s;
    }

    .check-element {
      border: 1px solid black;
      opacity: 1;
      padding: 10px;
    }
  }
}
// selectedChauffeur

.selectHeader .header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

.select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}

.selectHeader md-content._md {
  max-height: 240px;
}
// infowindows

.infobox {
  background-color: black;
}
// messageToolbar

.messagetoolbar {
  color: #FFFFFA;
  background-color: #00796B;
  opacity: 0;
  width: 100%;
  height: 80px;
  bottom: -80px;
  position: fixed;
  top: 100%;
  transition: all ease 0.5s;
  text-align: center;

  &.-active {
    top: initial;
    bottom: 0 !important;
    opacity: 1;
  }

  p:first-of-type {
    font-size: 18px !important;
  }

  .messagetoolbar_archive,
  .messagetoolbar_buttun_cancel,
  .messagetoolbar_new,
  .messagetoolbar_newmessage_sendbutton,
  .noMSg {
    min-height: 80px;
    margin-top: 23px;
  }

  .messagetoolbar_newmessage {
    transition: all ease 0.5s;
    flex: 1 1 0;
    max-width: 0;
    max-height: 100%;
    box-sizing: border-box;
    min-width: 0;
    opacity: 0;

    &.-active {
      opacity: 1;
      flex: 1 1 80%;
      max-width: 80%;
      max-height: 100%;
      box-sizing: border-box;
    }
  }

  .messagetoolbar_messagecontent {
    flex: 1;
    box-sizing: border-box;
    opacity: 1;
    max-width: 100%;
    transition: all ease 0.5s;

    &.-disabled {
      opacity: 0;
      flex: 1 1 0;
      max-width: 0;
      max-height: 100%;
      box-sizing: border-box;
    }
  }

  .messagetoolbar_newmessage_input {
    label {
      color: #FFFFFA !important;
    }

    input {
      color: #FFFFFA;
      border-color: #FFFFFA !important;
    }
  }

  .messagetoolbar_newmessage_select_chauffeurs {
    span {
      color: #FFFFFA !important;
    }

    .md-select-value {
      border-bottom-color: #FFFFFA !important;
    }
  }

  .messagetoolbar_inputmessage {
    opacity: 0;
    flex: 1 1 0;
    max-width: 0;
    max-height: 100%;
    box-sizing: border-box;
    transition: all ease 0.5s;
    color: #FFFFFA;

    label {
      color: #FFFFFA !important;
    }

    input {
      color: #FFFFFA;
      border-color: #FFFFFA !important;
    }

    &.-active {
      flex: 1;
      box-sizing: border-box;
      opacity: 1;
      max-width: 100%;
    }
  }

  .messagetoolbar_inputmessage_sendbutton {
    opacity: 0;

    &.-active {
      opacity: 1;
    }
  }
}

.fab_message {
  background-color: #00796B !important;
  position: fixed;
  bottom: 5px;
  transition: all ease 0.5s !important;

  &.-active {
    bottom: 85px;
  }
  @keyframes bounceIn {
    20%,
    40%,
    60%,
    80%,
    from,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
      transform: scale3d(1, 1, 1);
    }

    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
      transform: scale3d(.9, .9, .9);
    }

    60% {
      transform: scale3d(1.1, 1.1, 1.1);
    }

    80% {
      transform: scale3d(.9, .9, .9);
    }

    to {
      transform: scale3d(1, 1, 1);
    }
  }

  span {
    position: absolute;
    top: 2px;
    padding: 10px;
    left: 10px;
    background-color: red;
    border-radius: 20px;
    line-height: 9px;
    margin: 0;
    animation: bounceIn 5s infinite;
  }
}
// Animation Ngreapt message

.item {
  left: 0;
}
// Archive Modal
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

.modalarchive_container {
  background: #00796B;
  color: #FFFFFA;
  position: fixed;
  z-index: 21;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;

  &.-active {
    visibility: visible;
    opacity: 1;
  }

  .modalarchive_content_container {
    max-width: 1280px;
    margin: auto;

    md-list {
      max-height: 100vh;
      overflow: auto;
    }

    .md-2-line {
      background: red;
    }

    .modalarchive_archiveMessage {
      border-bottom: 1px solid black;
    }
  }

  .modalarchive_close {
    position: fixed;
    top: 0;
    right: 0;
  }
}

.progressBar {
  background-color: #eeeeee;
  -moz-box-shadow: 10px 10px 5px #656565;
  -webkit-box-shadow: 10px 10px 5px #656565;
  -o-box-shadow: 10px 10px 5px #656565;
  box-shadow: 10px 10px 5px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=  '#6565', Direction=135, Strength=5);
  margin-bottom: 5px;

  h4,
  p {
    margin: 0;
  }

  .progressBar_bar {
    width: 50%;

    p {
      font-size: 12px;
    }
  }

  .liv {
    .md-bar2 {
      background-color: #4caf50;
    }
  }

  .ram {
    .md-bar2 {
      background-color: #ffc107;
    }
  }
}

.progressBar.ng-enter,
.progressBar.ng-move {
  transition: all linear 0.5s;
}

.progressBar.ng-enter,
.progressBar.ng-leave.ng-leave-active,
.progressBar.ng-move {
  opacity: 0;
}

.progressBar.ng-enter.ng-enter-active,
.progressBar.ng-move.ng-move-active {
  opacity: 1;
}
